/* Default settings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f8fb;
}

#container{
    margin: 5% 100px;
}

#container-two{
    /* margin: 5% 100px;
    margin: 10px;*/


} 

/* Titol settings */

#titol{
    display: inline-block;
    font-size: 50px;
} 

.mini-titol{
    display: inline-block;
}


#logo{
    vertical-align: middle;
    line-height: 80px;
    height: 80px;
    padding: 10px;
    
}

/* test test test */
.ciao{
    background-color: white;
}

/* test test test */



/* Button settings */

#buttons{
    display: inline-block;
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 5px;
    border: 1px solid gray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 1225px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 40px;
    background-color: white;
}


#button-blue{
    background-color: #66aaed;
    color: #f7f8fb;
    padding: 8px;
    border-radius: 7px;
    border: 0;
}
#button-gray{
    padding: 8px;
    border-radius: 7px;
    border: 0;
    color: gray;
}

.green-flag{
    color: lightgreen;
    border: 2px solid lightgreen;
    padding: 3px;
    border-radius: 100%;
}
.red-flag{
    color: tomato;
    border: 2px solid tomato;
    padding: 3px;
    border-radius: 100%;
}


/* tags color settings and other */

#today{
    margin-top: 30px;
}

#upcoming{
    margin-top: 30px;
}

.editorial{
    font-size: 12px;
    padding: 5px;
    background-color: #66aaed;
    color: #f7f8fb;
    border-radius: 10px;
}


.space{
    margin-top: 15px;
}

#q-goals{
    background-color: #9676df;
    font-size: 12px;
    padding: 5px;
    color: #f7f8fb;
    border-radius: 10px;
}


#recruiting{
    background-color: #7bbcaa;
    font-size: 12px;
    padding: 5px;
    color: #f7f8fb;
    border-radius: 10px;
}

#mobile{
    background-color: #e7a04e;
    font-size: 12px;
    padding: 5px;
    color: #f7f8fb;
    border-radius: 10px;
}

#website{
    background-color: #cb6a9e;
    font-size: 12px;
    padding: 5px;
    color: #f7f8fb;
    border-radius: 10px; 
}

#sales{
    background-color: #b4c74e;
    font-size: 12px;
    padding: 5px;
    color: #f7f8fb;
    border-radius: 10px; 
}
}